@charset "utf-8";
/* Use this common css directly or reference it via @import url('/css/common_kb.css'); */
/* This common css is often used to deploy new features and functionality. */

/* Some of the background/font colors for quick override */
body {
	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

#top-links {}

#top-links-int {}

#logo-search {}

#under-logo-links,
#under-search-links {}

#under-logo-links li a,
#under-search-links li a {}

.kbleftlinks .head,
.kbrightlinks .head,
#qlinks .head,
#resource-links .head,
#qcats .head,
#news h2,
#topDocs h2,
#recentDocs h2,
.custom h2 {}

.kbleftlinks ul,
.kbrightlinks ul,
#qlinks ul,
#resource-links ul {}

.kbleftlinks li:not(:last-child),
.kbrightlinks li:not(:last-child),
#qlinks li:not(:last-child),
#resource-links li:not(:last-child) {
	border-bottom: 1px solid #E9DDBF;
}

#copyright {}

a {
	text-decoration: underline;
}

a:hover {}

a:visited {}

#skip-nav a {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#skip-nav a:focus {
	position: static;
	width: auto;
	height: auto;
}

div[aria-hidden="true"] {
	display: none;
}

div[aria-hidden="false"] {
	display: block;
}

/* Generic headings, pre, form, img, etc */
h1,
h2,
h3,
h4 {
	text-align: left;
	font-weight: bold;
}

h1 {
	font-size: 1.25rem;
}

h2 {
	font-size: 1.125rem;
}

h3 {
	font-size: 1.0rem;
}

h4 {
	font-size: 0.875rem;
}

p {
	min-height: 1px;
}

form {
	margin: 0;
}

img {
	border: none;
	max-width: 100%;
	height: auto;
}

a[name] {
	text-decoration: inherit;
}

pre {
	font-size: 0.6875rem;
	white-space: pre-wrap;
	word-wrap: break-word;
}

abbr,
span.abbr,
acronym {
	cursor: help;
	border-bottom: 1px dashed #000;
}

hr.kbhr1 {
	border: 0;
	height: 1px;
}

.auto-pre-txt {
	font-size: 0.8333rem;
	font-family: arial, sans-serif, helvetica;
	line-height: 1.25em;
}

.txt-normal-gray {
	font-size: 0.75rem;
}

.txt-unavailable {
	font-size: 0.75rem;
}

.txt-88pct-gray {
	font-size: 0.88rem;
}

.txt-88pct {
	font-size: 0.88rem;
}

.gloss-txt-88pct-gray {
	font-size: 0.88rem;
}

/* Overall container, eg. width:960px; */
#body-container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#body-container>header {
	min-height: 115px;
	margin-top: 15px;
}

/* Top links */
#top-links,
#top-links-int {
	margin: 0;
	margin-top: 15px;
	padding: 5px;
	height: 15px;
}

#top-left-links ul,
#top-right-links ul {
	margin: 0px;
	padding-left: 1px;
}

#top-left-links li,
#top-right-links li {
	font-size: 0.75rem;
	line-height: 14px;
	display: inline;
	padding: 0 5px;
	border-left: 1px solid #eeeeee;
}

#top-left-links li {
	font-weight: bold;
}

#top-left-links .first,
#top-right-links .first {
	border-left: 0;
}

#top-left-links a,
#top-right-links a {

	text-decoration: none;
}

#top-left-links a:hover,
#top-right-links a:hover {
	text-decoration: underline;
}

#top-right-links ul,
#top-right-links li {
	text-align: right;
}

.span_top_3_of_3 {
	width: 50%;
	text-align: right;
}

.span_top_2_of_3 {
	width: 49%;
	text-align: left;
}

.span_top_1_of_3 {
	width: 1%;
	text-align: left;
	text-decoration: none;
	padding: 0;
}

/* Link bar under group log or under search form */
#under-logo-links,
#under-search-links {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-position: top left;
	background-repeat: repeat-x;
	height: 25px;
}

#under-logo-links ul,
#under-search-links ul {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
	text-align: center;
}

#under-logo-links li,
#under-search-links li {
	padding: 0;
	display: inline-block;
	line-height: 25px;
	font-size: 1.0rem;
	vertical-align: top;
	list-style-type: none;
	zoom: 1;
}

#under-logo-links li:last-child,
#under-search-links li:last-child {}

#under-logo-links li a,
#under-search-links li a {
	font-size: 1.0rem;
	font-weight: bold;
	padding: 0 18px;
	text-decoration: none;
}

#under-logo-links ul li a:hover,
#under-search-links ul li a:hover {}

/* Logo and search form */
#logo-search {
	margin: 0;
	padding: 0;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}

#group-logo {
	width: 100%;
	height: 90px;
}

#group-logo .group-name,
#group-logo .group-name-hide {
	padding: 10px 5px 7px 5px;
	text-shadow: 2px 2px #000000;
	text-align: center;
	font-size: 1.125rem;
	font-weight: bold;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

#group-logo .group-name {
	display: block;
}

#group-logo .group-name-hide {
	display: none;
}

#group-logo a,
#group-logo a:hover {
	text-decoration: none;
}

#search-form {
	width: 100%;
	font-size: 0.625rem;
	white-space: nowrap;
	margin-top: 16px;
}

#search-form .inputBox {
	font-size: 0.6875rem;
}

#search-form .selectBox {
	font-size: 0.6875rem;
	width: 100px;
}

#search-form .search {
	font-size: 0.6875rem;
	font-weight: bold;
	font-family: arial, verdana, sans-serif;
}

#search-form a.advanced {
	font-size: 0.6875rem;
	text-decoration: none;
	padding: 1px 6px 2px 6px;
	border: 1px solid #999999;
}

#search-form a.advanced:hover {
	text-decoration: underline;
}

/* If link bar between logo and search form, class .lower is used */
#search-form.lower {
	text-align: center;
	padding-bottom: 10px;
	margin-top: 0;
}

#search-form.lower a.advanced {}

#search-form.lower a.advanced:hover {}


/* selected topics */
.ticked {}

.span_logo-search_2_of_2 {
	width: 67%;
	text-align: right;
	padding-right: 1%;
	margin: 0;
}

.span_logo-search_1_of_2 {
	width: 32%;
	text-align: left;
	margin: 0;
}

#header-banner {
	border: 1px solid rgb(255, 179, 170);
	padding: 15px;
	margin: 10px 8px -2px 8px;
}

/* Content area (anything below the searchbox, eg. content modules, kb article content) */
#container {
	min-width: 500px;
	width: 100% !important;
	position: relative;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}

/* Handle for kb article content */
#page-content {
	padding: 6px;
	margin-top: 7px;
}

.custom {
	padding: 5px 10px;
}

/* Side menus */
.kbleftlinks,
.kbrightlinks,
#qlinks,
#resource-links,
#qcats {
	margin: 8px;
	margin-right: 4px;
}

.kbleftlinks .head,
.kbrightlinks .head,
#qlinks .head,
#resource-links .head,
#qcats .head {
	font: bold 11px Verdana, Arial, Helvetica;
	line-height: 13px;
	text-align: center;
	padding: 3px 0 3px 0;
	display: block;
}

.kbleftlinks a,
.kbrightlinks a,
#qlinks a,
#resource-links a,
#qcats a {
	text-decoration: none;
	padding: 4px 6px;
	display: block;
}

.kbleftlinks a:hover,
.kbrightlinks a:hover,
#qlinks a:hover,
#resource-links a:hover,
#qcats a:hover {
	text-decoration: underline;
}

.kbleftlinks a:visited,
.kbrightlinks a:visited,
#qlinks a:visited,
#resource-links a:visited,
#qcats a:visited {}

.kbleftlinks ul,
.kbrightlinks ul,
#qlinks ul,
#resource-links ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.kbleftlinks li,
.kbrightlinks li,
#qlinks li,
#resource-links li {
	list-style-type: none;
	font-size: 0.6875rem;
	font-weight: bold;
	line-height: 14px;
}

/* Nav menu (Topics tree, always on the left side) */
#qcats .pad {}

#qcats .cat-sub {
	z-index: 200;
}

#qcats ul {
	margin: 0;
	padding-left: 2px;
}

#cat-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}

#cat-nav ul li {
	position: relative;
	border-bottom: 1px solid #E9DDBF;
}

#cat-nav ul li:last-child {
	border-bottom: none;
}

#cat-nav li ul {
	border: 1px solid #E9DDBF;
	position: absolute;
	left: 99.5%;
	top: -1px;
	display: none;
}

#cat-nav ul li a {
	display: block;
	text-decoration: none;
	font-size: 0.6875rem;
	font-weight: bold;
	padding: 5px;
}

#cat-nav * html ul li {
	float: left;
	height: 1%;
}

/* The magic */

/* Outage module (usually right side), most groups don't use this */
#out,
#out-green {
	margin-bottom: 5px;
}

#out .head,
#out-green .head {
	font: bold 11px Verdana, Arial, Helvetica;
	line-height: 13px;
	text-align: center;
	padding-bottom: 2px;
	display: block;
}

#out .word,
#out-green .word {
	border-left: 3px solid #E5B7B3;
	border-right: 3px solid #E5B7B3;
	font-size: 0.75rem;
	font-weight: bold;
	line-height: 18px;
	text-align: center;
	padding-top: 5px;
	display: block;
}

#out .history,
#out-green .history {
	border-left: 3px solid #E5B7B3;
	border-right: 3px solid #E5B7B3;
	border-bottom: 3px solid #cc0033;
	font-size: 0.6875rem;
	line-height: 18px;
	text-align: left;
	padding: 1px 0px 4px 12px;
	display: block;
}

#out a,
#out-green a {
	text-decoration: none;
}

#out a:hover,
#out-green a:hover {
	text-decoration: underline;
}

#out .word,
#out .history {}

#out-green .word,
#out-green .history {}

#out .head {}

#out .word {}

#out-green .head {}

#out-green .word {}

/* Middle area: 1 cols or 2 cols or 3 cols */
/* Small left column, large right column. Hides 'side-right' modules entirely */
#middle-sect2,
#middle-sect3,
#middle-sect1,
#middle-sect22 {}

article {
	width: 97%;
	margin: 8px 1%;
	margin-left: 4px;
	padding: 4px 1%;
}

.span_middle2_2_of_2 {
	width: 82%;
	text-align: left;
}

.span_middle2_1_of_2 {
	width: 18%;
	text-align: left;
}

.span_middle22_2_of_2 {
	display: none;
}

.span_middle22_1_of_2 {
	width: 100%;
	text-align: left;
}

.span_middle3_3_of_3.col {
	display: none;
}

.span_middle3_2_of_3 {
	width: 82%;
	text-align: left;
}

.span_middle3_1_of_3 {
	width: 18%;
	text-align: left;
}

/* Fixed content modules: News, Top Documents, Recent Documents + Custom module(s) */
#news,
#topDocs,
#recentDocs,
.custom {
	margin: 8px;
	margin-left: 4px;
	margin-bottom: 9px;
}

#news h2,
#topDocs h2,
#recentDocs h2,
.custom h2 {
	text-align: left;
	font-size: 0.75rem;
	line-height: 18px;
	font-weight: bold;
	font-family: verdana, arial;
	margin: 0px;
	padding: 0px 10px;
}

#news a,
#topDocs a,
#recentDocs a,
.custom a {
	text-decoration: underline;
}

#news a:hover,
#topDocs a:hover,
#recentDocs a:hover,
.custom a:hover {
	text-decoration: none;
}

#news a.seemore,
#topDocs a.seemore,
#recentDocs a.seemore,
a.seemore {
	text-transform: uppercase;
	font-size: 0.5625rem;
	padding: 1px 10px 1px 5px;
	border: 1px solid #999999;
	margin: 3px 12px 4px 1px;
	text-decoration: none;
}

#news a.seemore,
#topDocs a.seemore,
#recentDocs a.seemore {
	float: right;
}

#news a.seemore:hover,
#topDocs a.seemore:hover,
#recentDocs a.seemore:hover,
a.seemore:hover {
	text-decoration: underline;
}

a.seemore.rss {}

#topDocs .listdoc,
#recentDocs .listdoc {
	padding-top: 4px;
	margin-top: 6px;
	text-align: center;
	border-top: 1px solid #999999;
	display: block;
}

#topDocs .listdoc a,
#recentDocs .listdoc a {
	text-decoration: none;
}

#topDocs .listdoc a:hover,
#recentDocs .listdoc a:hover {
	text-decoration: underline;
}

#topDocs ol,
#recentDocs ol,
.custom ol {
	margin: 6px 0px 0px 36px;
	padding-left: 3px;
	padding-top: 2px;
}

#topDocs li,
#recentDocs li,
.custom li {
	padding: 0px 0px 6px 1px;
	font-size: small;
	font-weight: normal;
}

/* News module specific */
#news .title {
	font-size: 0.8125rem;
	font-weight: bold;
}

#news ul {
	margin: 0;
	padding: 3px 0px 0px 8px;
}

#news li {
	padding: 4px 0px 4px 3px;
	display: block;
}

#news .nonews {
	font-size: small;
	font-weight: normal;
	padding-left: 8px;
}

#news .summary {
	font-size: small;
	font-weight: normal;
	padding: 3px 0px 2px 3px;
	display: block;
}

#news .highImpactTitle {
	font-weight: bold;
	font-family: verdana, arial, sans-serif;
	line-height: 20px;
	padding-bottom: 5px;
}

#news .highImpactSummary {
	font-weight: bold;
	font-family: verdana, arial, sans-serif;
	line-height: 18px;
	padding: 0px;
}

/* Custom content module */
.custom p {
	padding: 0px 10px;
}

/* Topics tree in a custom content module */
ul.tree,
ul.tree ul {
	list-style-type: none;
	margin: 0 0 0 12px;
	padding: 0;
}

ul.tree ul {
	margin-left: 18px;
}

ul.tree li {
	margin: 0;
	padding: 0 12px;
	line-height: 24px;
	font-weight: bold;
}

ul.tree li.last {}

ul.tree li.level1-last,
ul.tree li.level2-last,
ul.tree li.level3-last,
ul.tree li.level4-last,
ul.tree li.level5-last,
ul.tree li.level6-last {}

ul.tree li.level1,
ul.tree li.level1-last {
	font-size: 0.75rem;
}

ul.tree li.level2,
ul.tree li.level2-last {
	font-size: 0.875rem;
}

ul.tree li.level3,
ul.tree li.level3-last {
	font-size: 1.0rem;
}

ul.tree li.level4,
ul.tree li.level4-last {
	font-size: 1.125rem;
}

ul.tree li.level5,
ul.tree li.level5-last {
	font-size: 1.25rem;
}

ul.tree li.level6,
ul.tree li.level6-last {
	font-size: 1.375rem;
}

/* from Christopher H., Department of African Languages & Literature */
/* Apply to checklist classed ordered lists */
ol.checklist {
	list-style-type: none;
}

/* Remove the number [1] */
ol.checklist>li:before {
	content: "2610020";
}

/* Insert content before the list item. Insert a ballot box and a blank space */
/* Apply to checklist classed unordered lists */
ul.checklist {
	list-style-type: none;
}

/* Remove the bullet [1] */
ul.checklist li:before {
	content: "2610020";
}

/* Insert content before the list item.  Insert a ballot box and a blank space */
/* [1]: Only applies to the current list level; embedded lists will regain numbers and bullets. */

/* Topic path close to the top of page */
.topic-header-name {
	text-align: left;
	font-size: 1.0rem;
	line-height: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 0px 10px 0px 10px;
	border-bottom: 1px solid #ffffff;
}

.topic-path {
	font-size: 0.9rem;
	margin: 0;
	padding: 0;
}

.topic-path a {
	text-decoration: none;
}

.topic-path a:hover {
	text-decoration: underline;
}

.topic-footer {
	margin-top: 12px;
	margin-left: 2px;
}

/* Topic filters close to the top of search result page */
ul.topic-filters {
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-top: 0px solid #ccc;
}

ul.topic-filters li {
	line-height: 1.5em;
	border-bottom: 0px solid #ccc;
	float: left;
	display: inline;
	margin: 0;
	padding: 0 6px 0 0;
	width: 200px;
}

/* Cross-site/cross-topic search results */
#cross-site-search,
#filter-by-topics,
#news-search-result,
#cross-inst-search,
#topic-desc-doc {
	font-size: 0.86rem;
	text-align: left;
}

#cross-site-search .field_set,
#filter-by-topics .field_set,
#news-search-result .field_set,
#cross-inst-search .field_set,
#topic-desc-doc .field_set {
	border: 1px solid gainsboro;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#topic-desc-doc .title {
	font-size: 1.25rem;
	font-weight: bold;
}

#topic-desc-doc .title a {
	font-size: 0.9rem;
}

#news-search-result .field_set {}

#cross-inst-search ul {
	padding: 0px;
	margin: 0 0 0 22px;
	line-height: 150%;
}

span.cursor1 {
	cursor: pointer;
	font-size: 0.6875rem;
	text-decoration: underline;
	line-height: 200%;
}

span.cursor1:hover {
	text-decoration: none;
	line-height: 200%;
}

#search-result {
	font-size: 0.9rem;
}

#search-result #count {
	float: left;
	text-align: left;
	width: 50%;
	padding: 6px 0 5px 0;
}

#search-result #sort {
	float: right;
	text-align: right;
	width: 50%;
	padding: 6px 0 5px 0;
}

#search-result #clear {
	clear: both;
}

.search-selector {
	border: 1px solid #cccccc;
	font-size: 0.6875rem;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#search-result-table1 {
	clear: both;
	width: 100%;
	border: #CBC9CA 2px;
}

#search-result-table1 caption {
	position: absolute;
	left: -10600px;
	top: auto;
	overflow: hidden;
}

#search-result-table1 tr {}

#search-result-table1 tr:hover th.aleft {}

#search-result-table1 tr:hover td {}

#search-result-table1 tr.owner-group-row:hover,
.other-group-row:hover {}

#search-result-table1 th {
	text-align: center;
	padding: 1px;
}

#search-result-table1 th.aleft {
	text-align: left;
	vertical-align: top;
	padding: 4px;
	margin: 2px;
	font-weight: normal;
}

#search-result-table1 td {
	text-align: center;
	vertical-align: top;
	padding: 4px;
	margin: 2px;
}

#search-result-table1 td.aleft {
	text-align: left;
}

.result-pagination-table {
	clear: both;
	text-align: center;
	border: none;
	margin-left: auto;
	margin-right: auto;
}

.result-pagination-table td {
	text-align: center;
}

.result-pagination-table td:hover {}

.generic-acenter-table {
	clear: both;
	width: 100%;
	border: #CBC9CA 0px;
	text-align: center;
}

.generic-acenter-table td {
	text-align: center;
	vertical-align: top;
}

td.result-pagination-current {
	text-align: center;
}

tr.row-hover:hover {}

.search-priority {
	padding: 4px 3px 0 3px;
}

.mainkbt-table {
	clear: both;
	text-align: center;
	width: 100%;
	border-spacing: 1px;
}

.mainkbt-compact {
	clear: both;
	text-align: center;
	border-spacing: 1px;
	margin-left: auto;
	margin-right: auto;
}

.mainkbt-table caption,
.mainkbt-compact caption {}

.mainkbt-table tr:nth-child(odd),
.mainkbt-compact tr:nth-child(odd) {}

.mainkbt-table tr:nth-child(even),
.mainkbt-compact tr:nth-child(even) {}

.mainkbt-table tr,
.mainkbt-compact tr {
	padding: 3px;
	text-align: center;
}

.mainkbt-table tr.selected,
.mainkbt-compact tr.selected {}

.mainkbt-table tr:hover th.aleft,
.mainkbt-compact tr:hover th.aleft {}

.mainkbt-table tr:hover td,
.mainkbt-compact tr:hover td {}

.mainkbt-table th,
.mainkbt-compact th {
	padding: 1px;
	text-align: center;
}

.mainkbt-table th.aleft:hover,
.mainkbt-compact th.aleft:hover {}

.mainkbt-table th.aleft,
.mainkbt-compact th.aleft {
	text-align: left;
	vertical-align: top;
	padding: 4px;
	margin: 2px;
	font-weight: normal;
}

.mainkbt-table th.aright,
.mainkbt-compact th.aright {
	text-align: right;
	vertical-align: top;
	padding: 4px;
	margin: 2px;
	font-weight: normal;
}

.mainkbt-table td,
.mainkbt-compact td {
	padding: 3px;
	text-align: center;
	vertical-align: top;
}

.mainkbt-table th a,
td a,
.mainkbt-compact th a,
td a {
	text-decoration: none;
}

.mainkbt-table td.aleft,
.mainkbt-compact td.aleft {
	text-align: left;
}

.mainkbt-table td.aright,
.mainkbt-compact td.aright {
	text-align: right;
}

.mainkbt-table td.csv,
.mainkbt-compact td.csv {
	text-align: right;
}

.mainkbt-table tr.activation-requested-bg {}

.mainkbt-table tr.deactivation-requested-bg {}

.var-table-compact {
	clear: both;
	text-align: left;
	border-spacing: 1px;
}

.var-table-full {
	clear: both;
	text-align: left;
	border-spacing: 1px;
	width: 100%;
}

.var-table-compact th,
.var-table-full th {
	padding: 3px;
	text-align: right;
	vertical-align: top;
	font-weight: bold;
}

.var-table-compact th.aleft,
.var-table-full th.aleft {
	text-align: left;
}

.var-table-compact th.aright,
.var-table-full th.aright {
	text-align: right;
}

.var-table-compact th.acenter,
.var-table-full th.acenter {
	text-align: center;
}

.var-table-compact tr:hover th,
.var-table-full tr:hover th {}

.var-table-compact tr:hover td,
.var-table-full tr:hover td {}

.var-table-compact td,
.var-table-full td {
	padding: 4px;
	text-align: left;
}

.var-table-compact td.int,
.var-table-full td.int {
	border: 1px #1E77D3 solid;
}

.var-table-compact td.ext,
.var-table-full td.ext {
	border: 1px #990000 solid;
}

.var-table-compact td.csv,
.var-table-full td.csv {
	text-align: left;

}

#glossary-search {
	text-align: center;
	width: 90%;
	margin: 12px;
}

#glossary-search fieldset {
	padding: 6px;
}

#glossary-search legend {
	font-weight: bold;
}

#glossary-search .sbutton {
	font-size: 0.625rem;
}

#glossary-search #a-z {
	margin-top: 10px;
}

#glossary-search a {
	font-size: 1.1rem;
	font-weight: bold;
	margin-top: 10px;
}

#up-prev-next {
	border-top: gray 1px solid;
	border-bottom: gray 1px solid;
	padding: 5px 0px;
	margin: 5px 0px;
	font-size: 0.88rem;
}

#up-prev-next #prev,
#up-prev-next #next {
	width: 50%;
	padding: 5px 0px;
}

#up-prev-next #prev {
	float: left;
	text-align: left;
}

#up-prev-next #next {
	float: right;
	text-align: right;
}

#up-prev-next #up {
	float: none;
	margin: 0px auto;
	text-align: center;
	padding: 5px 0px;
	clear: both;
}

#up-prev-next #clear {
	clear: both;
}

/* Feedback section toward the bottom of page */
.kbfeedbacktable1 {
	margin: 0;
	width: 100%;
	border: 1px solid #dddddd;
}

/*min-width: 300px;*/
.kbfeedbacktable1 th {
	width: 3%;
	text-align: right;
	vertical-align: top;
	font-size: 0.6875rem;
	padding: 3px;
}

.kbfeedbacktable1 td {
	width: 47%;
	text-align: left;
	vertical-align: top;
	padding: 3px;
}

.kbsuggestform1 {
	margin: 0;
	width: 100%;
	border: 1px solid silver;
	text-align: left;
	padding-top: 6px;
}

.kbsuggestform1 th {
	/*width:6%;*/
	text-align: right;
	vertical-align: top;
	padding: 3px;
	font-size: 0.6875rem;
}

.kbsuggestform1 td {
	vertical-align: top;
	padding: 3px;
}

table.feedback {
	border: 1px solid #eeeeee;
}

.feedback th {}

.feedback-btn-yes,
.feedback-btn-no {
	cursor: pointer;
	font-size: 0.6875rem;
	text-decoration: none;
	padding: 1px 6px 0 6px;
	border: 1px solid #cad4e7;
	border-radius: 3px;
}

.feedback-btn-yes-clicked,
.feedback-btn-no-clicked {
	font-size: 0.75rem;
	padding: 0;
	margin: 0;
	text-decoration: none;
	border: 0px solid #cad4e7;
}

.feedback-btn-yes,
.feedback-btn-yes-clicked {}

.yes_match {}

d.kb-error,
.feedback-btn-no,
.feedback-btn-no-clicked,
.no_match {}

a.feedback-btn-link {
	cursor: pointer;
	font-size: 0.6875rem;
	text-decoration: none;
	padding: 1px 6px 0 6px;
	margin-left: 2px;
	border: 1px solid #cad4e7;
	border-radius: 3px;
}

#feedback-thank-you,
#ks-thank-you,
#fav-marked {
	margin: 6px;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size: 0.625rem;
}

#count-yes,
#count-no {
	font-size: 0.6875rem;
}

.suggest-doc1,
.suggest-doc2,
.suggest-doc3 {
	font-style: italic;
}

.suggest-doc1 a {}

.suggest-doc1 a:hover {}

a.boxlink,
input.boxlink {
	font-size: 0.6875rem;
	text-decoration: none;
	padding: 0 6px 0 6px;
	border: 1px solid #cad4e7;
	margin-left: 2px;
	margin-bottom: 5px;
	text-align: right;
	border-radius: 4px;
}

a.boxlink:hover,
input.boxlink:hover,
.feedback-btn-yes:hover,
.feedback-btn-no:hover,
a.feedback-btn-link:hover {
	border: 1px solid #9dacce;
}

a.boxlink.recursive {
	float: right;
	margin: 2px;
}

.news-update-time {
	font-size: 0.625rem;
}

.print-doc-body {
	padding: 8px;
}

.hidden {
	position: absolute;
	left: 0;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.hide {
	display: none;
}

.kb-required:after {
	content: " *";
}

.kb-textfield,
.kb-textarea {
	-moz-appearance: none;
	appearance: none;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	box-shadow: none;
	box-sizing: border-box;
	font-size: 0.875rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0 0.2rem 0 0;
	padding: 4px 4px;
	outline: 0;
}

.kb-textfield:disabled,
.kb-textfield:read-only,
.kb-textarea:disabled,
.kb-textarea:read-only {}

.kb-listbox {
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	margin: 0 0.2rem 0 0;
	padding: 4px 4px;
}

.kb-textfield:focus,
.kb-textarea:focus,
.kb-listbox:focus {
	box-shadow: 0 0 0 2px #1E77D3;
}

/* Makes room for the chevron, to avoid offsetting centred text */
.kbleftlinks .head,
.kbrightlinks .head,
#qlinks .head,
#resource-links .head,
#qcats .head,
#out .head,
#out-green .head,
#news h2,
#topDocs h2,
#recentDocs h2,
.custom h2 {
	padding: 3px 15px;
}

/* Base (uncollapsed) state for the chevron, pointed downward */
p.kb-common-chevron {
	margin: 0;
	margin-right: -10px;
	padding: 0;
	font-size: 1.5rem;
	float: right;
	cursor: pointer;
	transform: rotate(90deg);
}

/* Hides the module's content after the collapse animation has run */
.kb-common-collapsed>* {
	display: none;
}

/* Overrides the previous rule for the module header */
.kb-common-collapsed>.head,
.kb-common-collapsed>h2 {
	display: inherit;
}

/* Toggled (collapsed) state for the chevron, pointed right */
.kb-common-collapsed p.kb-common-chevron {
	transform: rotate(0deg);
}

/* Footer section */
#copyright {
	width: 100%;
	border-top: 2px solid #a30413;
	padding: 10px 0 8px 0;
	clear: both;
	text-align: center;
	font-size: 0.6875rem;
	font-family: verdana, arial, sans-serif;
}

#copyright span {}

#copyright a {
	text-decoration: none;
}

#copyright a:hover {
	text-decoration: underline;
}

#view-toggle {
	text-align: center;
}

.to-kb-doc-top-anchor {}

/* Experiment with list dropdown */
ul.split {
	margin-bottom: 20px;
	overflow: hidden;
	border-top: 0px solid #ccc;
}

ul.split li {
	line-height: 1.5em;
	border-bottom: 0px solid #ccc;
	float: left;
	display: inline;
	padding-right: 32px;
	width: 280px;
}

ul.split li.double {
	width: 50%;
}

ul.campus-partners,
ul.kb-partners {
	margin-bottom: 20px;
	overflow: hidden;
	border-top: 0px solid #ccc;
}

ul.campus-partners li,
ul.campus-partners li {
	line-height: 1.5em;
	border-bottom: 0px solid #ccc;
	float: left;
	display: inline;
	padding-right: 32px;
	width: 280px;
}

ul.campus-partners .inst a {}

li.selected {}

ul.toggle ul,
ul.toggle0 ul,
ul.toggle1 ul,
ul.toggle2 ul,
ul.toggle3 ul,
ul.toggle4 ul,
ul.toggle5 ul,
ul.toggle6 ul,
ul.toggle7 ul,
ul.toggle8,
ul.toggle9 ul,
ul.toggle10 ul,
ul.toggle11 ul,
ul.toggle12 ul,
ul.toggle13 ul,
ul.toggle14 ul,
ul.toggle15 ul {
	list-style-type: none;
	margin: 0;
	padding-left: 20px;
}

/* Blog only used by a few internal sites */
#blogheader {
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 3px;
	display: block;

}

#blogrefresh {
	font-size: 0.625rem;
	font-weight: normal;
	padding: 5px;
	margin: 2px;
	border: 0px solid;
	text-decoration: none;
}

.blogtitle {
	font-size: 1.125rem;
	line-height: 20px;
	font-weight: bold;
	text-decoration: none;
}

.blogtxt {
	margin: 4px;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size: 0.6875rem;
}

.bloginput {
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size: x-small;
	width: 60%;
}

.countdown {
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size: 0.625rem;
	text-align: right;
	border: none;
}

.blogsigniture {

	font-size: x-small;
	margin-left: 16px;
}

input.btn {
	font-size: 0.625rem;

	margin-top: 2px;
	border: 1px solid #999999;
	border-radius: 5px;
}

input.btn1 {
	font-size: 0.625rem;
	margin-top: 2px;
	border: 0px solid;
}

a.btn1,
a:visited.btn1 {
	font-size: 0.625rem;
	margin-top: 2px;
	border: 0px solid;
	text-decoration: none;
}

.blogmsov {
	border-width: 1px;
}

.blogmsou {
	border-width: 0px;
}

/* Mouse-over dropdown menus */
div#mouseover-dropdown {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-position: top left;
	background-repeat: repeat;
}

div#mouseover-dropdown ul {
	margin: 0px;
	padding: 0px;
	list-style: outside none none;
	text-align: center;
}

div#mouseover-dropdown li {
	padding: 0px 18px;
	display: inline-block;
	line-height: 25px;
	font-size: 1.0rem;
	vertical-align: top;
	list-style-type: none;
	position: relative;
}

div#mouseover-dropdown li li {
	width: 90%;
	padding: 0 5%;
	text-align: left;
	border-bottom: 1px solid #C9BD9F;
}

div#mouseover-dropdown li:last-child {}

div#mouseover-dropdown span,
div#mouseover-dropdown a {
	font-size: 1.0rem;
	font-weight: bold;
	text-decoration: none;
	margin: 0;
}

div#mouseover-dropdown a:hover {
	text-decoration: underline;
}

div#mouseover-dropdown li ul {
	padding: 0;
	display: none;
	position: absolute;
	top: 25px;
	left: -1px;
	right: -1px;
	z-index: 3;
	border: 1px outset #C9BD9F;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

div#mouseover-dropdown li:hover ul {
	display: block;
}

/* Fluid grids */
.section {
	width: 100%;
	clear: both;
	padding: 0;
	margin: 0;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

/* grouping */
.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

/* May be useful for in page grids */
.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 49.2%;
}

.span_3_of_3 {
	width: 100%;
}

.span_2_of_3 {
	width: 66.1%;
}

.span_1_of_3 {
	width: 32.2%;
}

@media only screen and (max-width: 960px) {
	.col {
		margin: 1% 0 1% 0%;
	}

	/* remove margins */
	#body-container {
		width: 100%;
	}

	/* Variable width */
	.span_2_of_2,
	.span_1_of_2,
	.span_3_of_3,
	.span_2_of_3,
	.span_1_of_3 {
		width: 100%;
	}

	#top-links,
	#top-links-int {
		padding: 2px 1px 2px 1px;
	}

	#top-left-links ul,
	#top-right-links ul {
		padding: 0;
		text-align: center;
	}

	#top-left-links li,
	#top-right-links li {
		font-size: 0.75rem;
		font-weight: normal;
		line-height: 8px;
	}

	.span_top_3_of_3,
	.span_top_2_of_3 {
		width: 100%;
		text-align: left;
		padding: 0;
		line-height: 8px;
	}

	.span_top_1_of_3 {
		width: 0%;
		text-align: left;
		padding: 0;
		line-height: 0;
		display: none;
	}

	#logo-search,
	#group-logo,
	#search-form {
		margin: 0;
		padding: 0;
	}

	#group-logo .group-name {
		padding: 0;
		font-size: 0.875rem;
	}

	#logo-search {
		margin-bottom: 6px;
	}

	#search-form .inputBox,
	#search-form .search {
		font-size: 0.625rem;
		font-weight: normal;
	}

	#under-logo-links,
	#under-search-links {
		height: auto;
	}

	#under-logo-links li,
	#under-search-links li {
		display: inline;
		line-height: normal;
		vertical-align: middle;

	}

	#under-logo-links li a,
	#under-search-links li a {
		font-size: 0.9rem;
		padding: 0 10px;
		display: inline;
	}

	#under-logo-links ul li a:hover,
	#under-search-links ul li a:hover {}

	.span_logo-search_2_of_2 {
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 0;
		line-height: 8px;
	}

	.span_logo-search_1_of_2 {
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 0;
		line-height: 15px;
	}

	#middle-sect2,
	#middle-sect22,
	#middle-sect3 {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 6px;
		padding: 2px;
	}

	.span_middle2_2_of_2,
	.span_middle2_1_of_2,
	.span_middle22_2_of_2,
	.span_middle22_1_of_2,
	.span_middle3_3_of_3,
	.span_middle3_2_of_3,
	.span_middle3_1_of_3 {
		width: 100%;
		text-align: left;
		padding: 0;
	}

	.kbleftlinks .head,
	.kbrightlinks .head,
	#qlinks .head,
	#resource-links .head,
	#qcats .head,
	#out .head,
	#out-green .head {
		display: none;
	}

	.kbleftlinks a,
	.kbrightlinks a,
	#qlinks a,
	#resource-links a,
	#qcats a,
	#cat-nav a {
		padding: 5px;
		font-size: 0.6875rem;
		font-weight: bold;
		display: inline;
	}

	.kbleftlinks a:hover,
	.kbrightlinks a:hover,
	#qlinks a:hover,
	#resource-links a:hover,
	#qcats a:hover {
		text-decoration: none;
		display: inline;
	}

	.kbleftlinks a:visited,
	.kbrightlinks a:visited,
	#qlinks a:visited,
	#resource-links a:visited,
	#qcats a:visited {}

	.kbleftlinks ul,
	.kbrightlinks ul,
	#qlinks ul,
	#resource-links ul,
	#qcats ul {
		list-style: none;
		margin-top: 6px;
		margin-left: 2px;
		margin-bottom: 0;
		padding: 0;
		border: 0;

	}

	.kbleftlinks li,
	.kbrightlinks li,
	#qlinks li,
	#resource-links li,
	#qcats li {
		list-style-type: none;
		display: inline;
		border: 0;
		margin: 0;
		line-height: 14px;
	}

	#qcats .pad {
		border-left: 0;
		border-right: 0;
	}

	#cat-nav ul {
		margin: 3px;
		padding: 0;
		list-style: none;
		width: auto;
		border-bottom: 0px solid #ccc;
	}

	#cat-nav ul li {
		position: static;
		border: none;
	}

	#cat-nav li ul {
		position: static;
		left: auto;
		top: 0;
		display: none;
		border: none;
	}

	#cat-nav ul li a {
		display: inline;
		text-decoration: none;
		font-size: 0.6875rem;
		font-weight: bold;
		padding: 5px;
		line-height: 14px;
		border: 0px solid #ccc;
		border-bottom: 0;
	}

	#cat-nav ul {
		margin-top: 6px;
		margin-left: 2px;
		margin-bottom: 0;
		padding: 0;
		border: 0;
	}

	#cat-nav li {
		list-style-type: none;
		display: block;
		float: left;
		border: 0;
		margin: 0;
		line-height: 18px;
	}

	#cat-nav li:hover ul,
	li.over ul {
		display: none;
	}

	/* Unhides any collapsed modules when the window size decreases beyond the set threshold */
	.kb-common-collapsed>* {
		display: initial;
	}

	.kb-common-chevron {
		display: none;
	}
}