@import url(“https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css”);
body {
    color: #404040;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: inherit;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}
h1 {
    font-size: 40px;
    margin-bottom: 30px;
}
h1:after {
    margin-top: 24px;
    display: block;
    content: "";
    width: 40px;
    height: 3px;
    background-color: #ffbd00;
    margin-left: 0;
    margin-right: 0;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
a {
    color: #2b74b1;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#doc-summary {
    font-size: 1.5rem;
}
#top-links-int,
#top-links {
    color: #404040;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    box-sizing: inherit;
    display: block;
    width: 100%;
    background: #ffbd00;
    margin: 0;
    padding: 0;
}
#top-links-int > div,
#top-links > div {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}
#top-links-int .span_top_1_of_3,
#top-links-int .span_top_2_of_3,
#top-links-int .span_top_3_of_3,
#top-links .span_top_1_of_3,
#top-links .span_top_2_of_3,
#top-links .span_top_3_of_3 {
    margin: 0;
    padding: 0;
}
#top-links-int ul,
#top-links-int li,
#top-links ul,
#top-links li {
    margin: 0;
    padding: 0;
    min-height: 35px;
}
#top-links-int ul,
#top-links ul {
    margin-top: 7px;
}
#top-links-int a,
#top-links a {
    color: #404040;
    font-weight: 400;
    padding: 12px 15px 12px 12px;
    font-size: 0.825rem;
    line-height: 1.5;
}
#top-links-int a:hover,
#top-links a:hover {
    text-decoration: none;
    margin: 0;
    list-style: none;
    flex-shrink: 0;
    background-color: #ffd14c;
}
#logo-search {
    background-color: transparent;
    box-sizing: inherit;
    text-align: center;
    top: 42px;
    align-items: center;
    width: 100%;
}
#logo-search div.col.span_logo-search_1_of_2,
#logo-search div.col.span_logo-search_2_of_2 {
    display: block;
    width: 100%;
}
#logo-search div.col.span_logo-search_1_of_2 {
    height: 74px;
    padding-top: 20px;
}
#logo-search #group-logo,
#search-form {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1240px;
}
#logo-search #group_logo {
    display: flex;
    width: auto;
    align-items: flex-start;
}
#logo-search #group-logo img {
    align-self: flex-start;
    width: 185px;
    height: 55px;
}
#logo-search #group-logo .group-name-hide {
    display: inline-flex;
    flex-direction: column;
    align-self: flex-start;
    font-weight: 400;
    text-align: left;
    color: #404040;
    box-sizing: inherit;
    line-height: 1.3;
    font-size: 1.3rem;
    padding: 0px 0px 0px 50px;
    margin: 0;
    vertical-align: top;
}
#logo-search #group-logo .group-name-hide:after {
    display: block;
    font-size: 0.875rem;
}
#logo-search div.col.span_logo-search_2_of_2 {
    background-color: #333333;
    padding: 30px 0px 30px 0px;
}
#search-form {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}
#search-form form {
    margin: 0;
    padding: 0 30px 0 30px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#search-form form input.inputBox {
    font-size: 1.2rem;
    margin: 0;
    padding: 12px;
    border: none;
    overflow: visible;
    color: #000;
    box-sizing: inherit;
}
#search-form form select.selectBox {
    display: none;
    visibility: hidden;
}
#search-form form input.search {
    background-color: #ffbd00;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px solid #fff;
    height: 49px;
    vertical-align: top;
    margin-left: -3px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 100;
    padding-left: 10px;
    padding-right: 10px;
}
#search-form form input.search:focus {
    box-sizing: border-box; 
    border: 2px solid #cfcfcf;
}
#search-form a.advanced {
    display: none;
    visibility: hidden;
}
#search-form #resultc {
    display: none;
    visibility: hidden;
}
#maincontent {
    max-width: 1240px !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
}
#maincontent #middle-sect1 {
    margin: 0;
    padding: 0;
}
#maincontent #custom4 {
    margin: 0;
    padding: 0;
}
#maincontent #custom4 > h2 {
    background-color: transparent;
    font-size: 32px;
    color: inherit;
    font-family: inherit;
    margin-left: 0;
    padding-left: 0;
    line-height: inherit;
}
#maincontent #custom4 h2 p.kb-common-chevron {
    display: none;
    visibility: hidden;
    padding: inherit;
    margin: inherit;
}
#maincontent #custom4 ul.tree,
#maincontent #custom4 ul.cat-sub,
#maincontent #custom4 ul.tree li.first,
#maincontent #custom4 ul.tree li,
#maincontent #custom4 ul.tree li ul,
#maincontent #custom4 ul.tree li ul li {
    background: none;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
#maincontent #custom4 ul.tree a {
    color: #2b74b1; 
    text-decoration: inherit;
}
#maincontent #custom4 ul.tree a:hover {
    text-decoration: underline;
}
#maincontent #custom4 > ul > li > ul > li > ul {
    display: none;
    visibility: hidden;
}
#maincontent #custom4 > ul.tree {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#maincontent #custom4 ul.tree > li {
    flex: 0 0 calc(33% - 24px);
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 30px;
    margin-top: 12px;
    margin-right: 24px;
    margin-left: 0px;
    margin-bottom: 12px;
    border: 1px solid #e5e5e5;
    border-top: 4px solid #ffbd00;
    background-color: #fff;
}
#maincontent #custom4 ul.tree > li > a {
    font-size: 24px;
    font-weight: bold;
}
#maincontent #custom4 > ul > li > ul,
#maincontent #custom4 > ul > li > ul > li {
    margin: 0;
    padding: 0;
}
#maincontent #custom4 > ul > li > ul > li {
    font-size: 1rem;
    display: inline;
}
#maincontent #custom4 > ul > li > ul > li::after {
    content: ", ";
}
#maincontent #custom4 > ul > li > ul > li:last-child::after {
    content: "";
}
footer {
    width: 100%;
    background-color: #e9eaea;
    margin: 0;
    padding: 0;
}
footer #copyright {
    border: 0;
    background-color: #e9eaea;
    font-size: 0.875rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
footer #copyright .brand {
    font-size: 1rem;
}
@media screen and (max-width: 880px) {
    #maincontent #custom4 ul.tree > li {
        flex: 0 0 calc(50% - 24px);
    }
}
#topic-desc-doc > form > fieldset > legend,
#doc-summary {
    display: none;
    visibility: hidden;
}
#topic-desc-doc > form > fieldset,
#topic-desc-doc {
    margin: 0;
    padding: 0;
    border: none;
}
#cross-site-search .field_set, 
#filter-by-topics .field_set, 
#news-search-result .field_set, 
#cross-inst-search .field_set, 
#topic-desc-doc .field_set {
    border: none;
}
@media screen and (max-width: 780px) {
    #group-logo {
        max-width: 756px;
        padding-left: 12px;
        padding-right: 12px;
    }
}
@media screen and (max-width: 630px) {
    #logo-search > div > div.col.span_logo-search_1_of_2 {
        height: auto;
        padding-bottom: 12px;
    }
    #logo-search #group-logo img {
        margin-bottom: 12px;
        margin-left: auto;
        margin-right: auto;
        padding-left: auto;
        padding-right: auto;
    }
    #logo-search #group-logo .group-name-hide {
        display: block;
        padding: 12px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    h1 {
        font-size: 32px;
    }
    h2,
    #maincontent #custom4 > h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 16px;
    }
    #maincontent #custom4 ul.tree > li {
        flex: 0 0 calc(100% - 24px);
    }
}